<section id="contact" class="background1 section-padding">
  <div class="container">
    <div class="row mb30">
      <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 section-title text-center">
        <h2>Join us!</h2>
        <span class="section-divider mb15"></span>
        <p class="no-margin">We're always open to new ideas and we love<br>people interested in helping the project in any way</p>
        <h1><a href="http://chat.turtlecoin.lol">Join us on Discord</a></h1>
        <h1><a href="http://github.turtlecoin.lol">Join us on GitHub</a></h1>
      </div><!-- /.column -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</section><!-- /.section -->
