<footer class="footer-padding">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <h2 class="theme-title">Thank You!</h2>

      </div>
    </div>
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2 text-small text-center">
        <hr>
        <button type="button" class="btn btn-primary btn-up-footer btn-lg scroll-top">Up</button>
        <p class="no-margin">&copy; The TurtleCoin Project</p>
      </div><!-- /.column -->
    </div><!-- /.row -->
  </div><!-- /.container -->
</footer><!-- /.footer -->
