<meta charset="utf-8"/>
<meta name="author" content="RockSteady" />
<meta name="description" content="{{ page.description }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="keywords" content="TurtleCoin, CryptoCurrency, Cryptonote, Cryptonight, Cryptonight-lite, Coin, Crypto, RockSteady, Bebop">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ page.title }}</title>

<!-- Open Graph data -->
<meta property="og:site_name" content="TurtleCoin"/>
<meta property="og:title" content="{{ page.title }}"/>
<meta property="og:description" content="{{ page.description }}"/>
<meta property="og:image" content="images/turtlecoin_opengraph_colorbg.jpg"/>

<!-- Twitter Card -->
<meta property="twitter:url" content="https://turtlecoin.lol"/>
<meta property="twitter:title" content="{{ page.title "/>
<meta property="twitter:description" content="{{ page.description }}"/>
<meta property="twitter:image" content="images/turtlecoin_opengraph_colorbg.jpg"/>
